/* header related styles */

.header{
    background-color: rgba(229, 84, 115, 0.10);

}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    
}

.banner-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.btn-primary{
    padding: 20px 43px;
    border-radius: 10px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.banner .profile-pic{
    width: 600px;
}

.banner-pera{
    color: #27272799;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

/* main section styles */
.section-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
    line-height: 300px;
    
    
}

.section-des {
color: #27272799;
text-align: center;
font-family: Lato;
font-size: 18px;
line-height: 30px;

margin: 0px;
}

/* image section styles */

.profile-pic{
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    padding: 110px 78px 0px 77px;
    
}